<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <title>Papildai | {% block title %}{% endblock title %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static "app/images/logo.png" %}" width="50" height="50" alt="logo">Papildai</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Sveikuolis</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Produktai
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'category' 'PS' %}">Papildai sportui</a></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'PSV' %}">Papildai sveikatai</a></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'MD' %}">Maistas dietai</a></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'AKS' %}">Aksesuarai</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'KP' %}">Kiti produktai</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'about' %}">Apie mus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'contact' %}">Kontaktai</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Įveskite..." aria-label="Search"
                           id="searchInput" name="searchQuery">
                    <button class="btn btn-outline-success" type="submit">Ieškoti</button>
                </form>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown mx-2">
                            <a class="nav-link dropdown-toggle text-white" href="#"
                               id="profileDropdown" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">{{ user.get_username }}</a>
                            <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                                <li><a class="dropdown-item" href="{% url 'profile' %}">Profilis</a></li>
                                <li><a class="dropdown-item" href="{% url 'orders' %}">Užsakymai</a></li>
                                <li><a class="dropdown-item" href="{% url 'passwordchange' %}">Pakeisti slaptazodį</a></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Atsijungti</a></li>
                            </ul>
                        </li>
                        <li class="nav-item mx-2">
                            <a href="{% url 'showcart' %}" class="nav-link text-white">Krepšelis</a>
                        </li>
                      <li class="nav-item mx-2">
                        <a href="{% url 'wishlist_products' %}" class="nav-link text-white">
                            {% if wishitem > 0 %}
                                <span class="badge bg-danger">{{wishitem}}</span>
                            {% else %}
                                <span class="badge bg-danger" style="visibility: hidden;">0</span>
                            {% endif %}
                            <i class="fa fa-heart"></i>
                        </a>
                       </li>
                    {% else %}
                        <li class="nav-item mx-2">
                            <a href="{% url 'login' %}" class="nav-link text-white">Prisijungti</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a href="{% url 'customerregistration' %}" class="nav-link text-white">Registruotis</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block banner_slider %}{% endblock banner_slider %}
    {% block information %}{% endblock information %}
    {% block main-content %}{% endblock main-content %}




    <footer class="container-fluid fixed-bottom bg-success text-center p-2 mt-5">
                            Copyright : 2023 PTUA6
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script src="{% static 'app/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'app/js/myscript.js' %}"></script>
    <script src="{% static 'app/js/all.min.js' %}"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />

</body>
</html>
