{% extends 'app/index.html' %}
{% load static %}
{% block title %}Slaptažodzio keitimas baigtas{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="alert-heading">Slaptažodzio keitimas baigtas</h3>
            <hr>
            <div>
                <iframe src="https://giphy.com/embed/3o7aDcz6Y0qjwRnWYo" width="200" height="200" frameborder="0"
                        class="giphy-embed" allowfullscreen></iframe>
                <p> Į Jūsų paštą buvo išsiųstas laiškas slaptžodžio atnaujinimui</p>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}