{% extends 'app/index.html' %}
{% load static %}
{% block title %}Slaptažodžio keitimas baigtas{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Sveiki {{request.user.username|capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile'%}" class="btn btn-primary">Pakeisti slaptažodį</a></li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Slaptažodis pakeistas sėkmingai</h3>
</div>
            <iframe src="https://giphy.com/embed/3o7aDcz6YqzGVe9k8o" width="200" height="200" frameBorder="0"
                    class="giphy-embed" allowFullScreen></iframe>
    </div>
</div>
    {% endblock main-content %}